body {
  font-family: 'Inter', sans-serif;
}


  /* Navbar */

.logo {
    height: 90px;
}

.navbar-div {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.section-1 {
  margin-top: 30px;
}



.blue-banner {
  display: flex;
  background-color: #244AC2;
  color: white;
  font-size: 20px;
  height: 85px;
  width: 38%;
  position: absolute;
  left: 35px;
  top: 46%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.banner-text {
  padding-left: 95px;
}

.black-banner {
  background-color: black;
  height: 85px;
  width: 38%;
  position: absolute;
  right: 35px;
  top: 46%;
  z-index: -1;
}
.section2work {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 78%;
  margin: auto;
}

.section2-text {
  font-size: 20px;
  line-height: 30px;
  padding: 70px;
}

.visio-img1{
  width: 450px;
}
/* .................. */

* {box-sizing:border-box}

/* Slideshow/carasoul container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

.Containers {
  display: none;
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}


.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Content */
.info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}


/* animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* Section 3 */

.box {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.box-sponsor {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 180px;
  background-color: #061B2C;
  justify-content: center;
}

#button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 27px;
  background-color: #234AC1;
  color: white;
  font-weight: 600;
  padding: 0 9px 0 9px;
}

.container1 {
  width: 430px;
  gap: 20px;
  display: flex;
}

.visio-blocks{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin-bottom: 150px;
  justify-content: center;
}

h3 {
  color: white;
  font-weight: 500;
  margin-left: 33px;
  font-size: 19px;
  margin-bottom: 0px;
}




.visio-arrow1 {
  margin: 0;
  padding: 0;
}

.visio-arrow2 {
  margin-left: 33px;
}

.text {
    margin: 0;
    font-size: 9.6px;
  }

/* responsiveness code*/

@media screen and (max-width: 1300px) {
  .black-banner{
    background-color: black;
    height: 90px;
    margin: auto;
    width: 70%;
    position: static;
}


.blue-banner{
  display: flex;
  background-color: #244AC2;
  color: white;
  font-size: 20px;
  height: 90px;
  width: 70%;
  margin: auto;
  position: static;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.banner-text {
  text-align: center;
  padding: 0px;
}

.section2-text {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}
.section2work {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 78%;
    margin: auto;
    flex-wrap: wrap;
  }
.visio-img1 {
  width: 70%;
}
.visio-blocks {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin-bottom: 150px;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 36px;
}
.box-sponsor {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 180px;
  background-color: #061B2C;
  justify-content: center;
  margin: auto;
}
.container1 {
  width: 70%;
  margin: auto;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.section-1 {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
}
}


@media screen and (max-width: 350px) {
  h3 {
    color: white;
    font-weight: 500;
    margin-left: 33px;
    font-size: 19px;
    margin-bottom: 0px;
}
.navbar-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
}

